:root {
  --color0: #2B1713;
  --color1: #A693A3;
  --color2: #E4B3AC;
  --color3: #FECD97;
  --color4: #FCD3B0;
  --color5: #DAB5C9;
  --color6: #DEC3CC;
  --color7: #ECC9C9;
  --color8: #757575;
  --color9: #A693A3;
  --color10: #E4B3AC;
  --color11: #FECD97;
  --color12: #FCD3B0;
  --color13: #DAB5C9;
  --color14: #DEC3CC;
  --color15: #ECC9C9;
}
